.img-profile{
    width: 50px;
    height: 50px;
}

.Profile{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.usuario{
    display: flex;
    align-items: center;
    justify-content: center;
}
   

.form-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-change{

    margin: 50px;
    width: 300px;
}

.changePass{
    display: none;
}
.Pass{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.changePass-opt{
    display: none;
}


.Pass-opt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btnC , .btnG{
    display: none;
}
.btnED {
    display: none;
}

button{

}

button{
    background-color: #F0544F;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 20px;
    margin: 20px 0;
}

button:hover{
    background-color: #ad3f4c;
    
}